@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Add Pet";
}

<form asp-controller="Pet" asp-action="Add" method="post">
    <h1 class="display-4 text-center mb-5">Add New Pet</h1>

    @await Html.PartialAsync("_PetInput", Model)

    <input type="submit" class="btn btn-sm btn-primary float-end" value="Save">
</form>

<a class="btn btn-sm btn-danger" asp-controller="Pet" asp-action="List">Back</a>
